@media (max-width: 768px) {
    .article-item {
        flex-direction: column;
    }
}

@media (prefers-reduced-motion) {
    .typewriter::after {
    animation: none;
    }
    
    @keyframes sequencePopup {
    0%, 100% { content: "Computer Scientist"; }
    25% { content: "Full-Stack Developer"; }
    50% { content: "IT Specialist"; }
    75% { content: "Technology Enthuciast"; }
    }

    .typewriter::before {
    content: "Computer Scientist";
    animation: sequencePopup 12s linear infinite;
    }
}